* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Roboto', Arial, sans-serif;
   line-height: 1.3;
}

.page {
   display: block;
   height: 13.5in;
   width: 8in;
   margin: 0.25in;
   position: relative;
}

.red {
   font-size: 10px;
   color: red;
}

@media print {

   .noprint {
       display: none;
   }

   .pageBreak {
       page-break-after: always;
   }
}

table {
   border-collapse: collapse;
   table-layout: fixed;
}

td, th {
   border: 1px solid black;
   margin: 0;
   padding: 0.05in;
}

.noborder td,
.noborder th {
   border: none;
   padding: 0;
   margin: 0;
}

.border td,
.border th {
   border: 1px solid black;
   padding: 0.05in;
}

.top {
   vertical-align: top;
}

header {
   height: 120px;
   width: 8in;
   position: relative;
}

h1  {
   font-size: 24px;
   margin-top: 20px;
}

.dept-logo {
   display: inline-block;
   height: 120px;
   vertical-align: top;
}

.logo-offset {
   display: inline-block;
   height: 120px;
   padding: 20px 0 20px 40px;
   vertical-align: top;
}

.sh1 {
   font-size: 16px;
}

.sh2 {
   font-size: 14px;
}

.wide {
   width: 8in;
   margin-top: 0.1in;
   margin-bottom: 0.1in; 
}

.narrow {
   width: 3.9in;
   margin-top: 0.05in;
   margin-bottom: 0.05in;
}

.student-info {
   font-size: 11px;
   border: none;
}

.student-info td {
   vertical-align: top;
   border: none;
}

.right {
   text-align: right;
}

.center {
   text-align: center;
}

.left {
   text-align: left;
}

.row1 {
   background: #bbb
}

.row2 {
   background: #ddd;
}

.leftFixed {
   width: 170px;
}

.comment-big {
   min-height: 1in;
   vertical-align: top;
   overflow-wrap: break-word;
}

.attendance {
   font-size: 9px;
}


.attendance td, .attendance th {
   width: 0.68in;
}

h3 {
   font-size: 14px;
}

.course {
   font-size: 11px;
}

.course-comment {
   width: 4in;
   vertical-align: top;
   overflow-wrap: break-word;
}

.course-details {
   font-size: 8px;
   line-height: 1;
}

.signature {
   width: 8in;
   font-size: 11px;
   text-align: left;
   margin: 30px 0;
}

.sig-line {
   display: inline-block;
   width: 4in;
   border-bottom: 1px solid;
   margin-left: 30px;
}

h4 {
   font-size: 14px;
   text-decoration: underline;
   margin-bottom: 5px;
}

.definitions p {
   margin-bottom: 5px;
}

.footer {
   position: absolute;
   bottom: 0;
}

.footer3 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   width: 8in;
   font-size: 10px;
   margin: 5px 0;
   font-weight: bold
}
 n
.footer3-left {
   grid-column-start: 1;
   grid-column-end: 2;
   text-align: left;
}

.footer3-center {
   grid-column-start: 2;
   grid-column-end: 3;
   text-align: center;
}

.footer3-right {
   grid-column-start: 3;
   grid-column-end: 4;
   text-align: right;
}