* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   line-height: 1.4;
   font-family: 'Roboto', sans-serif;
   font-size: 9pt;
 }
 
 .page {
   display: block;
   height: 13.5in;
   width: 8in;
   margin: 0.25in;
   padding: 0;
   position: relative;
 }
 
 @media print {
 
     .noprint {
         display: none;
     }
 
     .pageBreak {
         page-break-after: always;
     }
 }

.wide {
   width: 8in;
}
 
 .red {
     font-size: 10pt;
     color: red;
 }
 
 table {
   border-collapse: collapse;
   table-layout: fixed;
   padding: 3px;
 }
 
 .areaComment {
     vertical-align: top;
 }
 
 td, th {
   border: 1px solid black;
   margin: 0;
   padding: 5px;
 }
 
 .rcHeader td, .rcHeader th {
     border: none;
 }
 
 h1  {
   font-size: 14pt;
   margin-bottom: 0.1in;
 }
 
 h2 {
   font-size: 11pt;
 }
 
 .header-img{
   width: 1in;
   vertical-align: middle;
 }
 
 .grey {
   background-color: #bfbfbf;
 }
 
 .left {
   text-align: left;
 }
 .right {
   text-align: right;
 }
 
 .center {
   text-align: center;
 }
 
 .commentBox {
   border: 1px solid black;
 }
 
 .commentBox td {
   border: none;
 }
 
 .commentTitle {
   display: flex;
   justify-content: space-between;
 }
 
 .comment {
   display: block;
   position: relative;
   min-height: 1.5in;
   height: 1.5in;
 }
 
 .footer {
   position: absolute;
   bottom: 0;
 }
 
 .footer td {
   border: none;
 }
 
 .subfooter {
     position: absolute;
     bottom: 0.3in;
     width: 8in;
 }
 
 .signature {
   width: 8in;
   text-align: left;
   margin: 5px;
 }
 
 .teacher, .principal {
       font-size: 9pt;
 }
 
 .sig-line {
   display: inline-block;
   width: 3.3in;
   border-bottom: 1px solid;
 }

 .attendance {
   font-size: 8pt;
   margin: 0.1in 0;
}


.attendance td, .attendance th {
   width: 0.68in;
}